body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(135deg, #25D366, #128C7E);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login box */
.login-container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 320px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
    margin-bottom: 20px;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Buttons */
button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Login button */
button:first-of-type {
    background: #25D366;
    color: white;
}

/* Register button */
button:last-of-type {
    background: #128C7E;
    color: white;
}

button:hover {
    opacity: 0.9;
}